# maths
pandas
numpy

## jupyter
jupyter
jupyterlab
jupytext

## ia
openai

## plot
matplotlib

## tiktoken
tiktoken

## sqlfluff
sqlfluff

##Para el proyecto
# pip uninstall openai
# pip install openai

##Para el curso de udemy
# pip uninstall openai
# pip install openai==0.28.0
